header {
 border: 1px solid red;
 margin-top: 3%;
 padding-bottom: 10px;
 width: 80px;
}

p {
  color: blue;
  
}

header {
  background-color: yellow;
  font-size: 20px;
}

section p {
  color: green;
  position: relative;
  left: 20px;
}

#skills {
 color: red;
}

.top {
 text-transform: uppercase; 
}

ul .highlight {
 text-decoration: underline;
}

span {
 display: block;
}

.corner{
 position: absolute;
 bottom: 0%;
 right: 0%;
 font-size: 20px;
}